/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {

  --bg-color: #000028;
  --title-decor-color: #000028;
  --content-section-title-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --title-color: #db00ff;
  --main-font-color: #f1b2ce;
  --hover-border-color: #ff007066;
  --decor-color: #FF0070;
  --button-color: #FF0070;

}

@media (prefers-color-scheme: dark) {
  .rec-decor {
    display: block;
  }
}

.theme-dark .rec-decor {
  display: block;
}