/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color, #000028);
  font-family: var(--main-font, "IBM Plex mono"), sans-serif;
  background-image: var(--bg-image, url(../images/cover-image-dark.png));
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: var(--main-font-size, 1.125rem);
}


.rec-decor {
  display: none;
  position: absolute;
  color: var(--accent-color, #FF0070);
  text-transform: uppercase;
  font-size: 18px;
  line-height: 23.4px;
  right: calc(28px + var(--page-padding, 10px));
  top: calc(1px + var(--page-padding, 10px));
}

.rec-decor::after {
  content: "";
  position: absolute;
  right: -19px;
  top: 7px;
  background-color: var(--accent-color, #FF0070);
  block-size: 9px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color, #FF0070);
}


.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--page-padding, 10px);
  right: var(--page-padding, 10px);
  block-size: 25px;
  inline-size: 25px;

  border-inline-end: 1px solid var(--decor-color, #ff0070);
  border-block-start: 1px solid var(--decor-color, #ff0070);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--page-padding, 10px);
  left: var(--page-padding, 10px);
  block-size: 25px;
  inline-size: 25px;

  border-block-end: 1px solid var(--decor-color, #ff0070);
  border-inline-start: 1px solid var(--decor-color, #ff0070);

}


.header {
  padding: var(--page-padding);
  position: relative;
  min-block-size: min-content;
  block-size: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
  padding-block: 30px;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.header__theme-menu-button {
  background-color: transparent;
  text-transform: lowercase;
  line-height: 18px;
  border: 1px transparent solid;
  color: var(--button-color, #ff0070);
  padding: 2px 13px 4px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color, #ff0070);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-border-color, #ff007066);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color, #ff0070);
}


.title {
  color: var(--title-color, #db00ff);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  font-size: var(--title-font-size,
      clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  line-height: var(--title-line-height,
      clamp(5.98125rem, 5.7844rem + 0.8397vw, 6.1875rem));
}

.header__text {
  align-self: center;
}

.header__text-paragraph {
  font-weight: bold;
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
  color: var(--title-decor-color, #000028);
}

.content {
  color: var(--main-font-color, #f1b2ce);
  padding: 0 var(--page-padding, 10px);
  margin-block: var(--content-margin-block, 40px);
  line-height: var(--main-line-height, 23.4px);
}

.content__section-title {
  color: var(--content__section-title-color, #ff0070);
  margin-block-end: 20px;
  font-size: var(--main-font-size, 1.125rem);
  line-height: var(--main-line-height, 23.4px);
}

.content__section:not(:last-child) {
  margin-block-end: var(--content__section-margin, 50px);
}

.content__section-list-item:not(:last-child) {
  margin-block-end: 20px;
}

.content__section-list-item:has(.content__images-wrapper) {
  margin-block-start: 50px;
}

.content__section-list-item-title {
  margin-block-end: 10px;
  font-size: var(--main-font-size, 1.125rem);
  line-height: var(--main-line-height, 23.4px);
}

.content__link {
  text-shadow: 2px 1.5px 0 var(--accent-color, #ff0070);
  text-decoration: none;
}

.content__link:hover {
  border-bottom: 1px solid var(--main-font-color, #f1b2ce);
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  outline: 1px var(--main-font-color, #f1b2ce) solid;
}

.content__section-text:not(:last-child) {
  margin-block-end: 10px;
}

.no-bold-font {
  font-weight: normal;
}

.content__section-article-title {
  margin-block-end: 20px;
  font-size: var(--main-font-size, 1.125rem);
  line-height: var(--main-line-height, 23.4px);
}

.content__images-title {
  margin-block-end: var(--page-padding, 10px);
  font-size: var(--main-font-size, 1.125rem);
}

.content__images-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.content__images-wrapper img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  block-size: 100vh;
  align-items: center;
  padding: var(--page-padding, 10px);
  text-align: center;
}

@media(min-width: 768px) {
  .header {
    padding-left: 0;
  }

  .header__text {
    width: calc((100% - var(--page-padding)) / 2);
    justify-self: end;
  }

  .content__section:nth-child(odd):not(.content__section-images) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .content__section-title {
    width: 236px;
  }

  .content__section-list {
    grid-column: 2;
  }

  .content__images-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .content__images-wrapper img:nth-child(1) {
    grid-column: 1/3;
  }

  .content__images-wrapper img:nth-child(2) {
    grid-column: 3;
    grid-row: -4/-2;
  }

  .content__images-wrapper img:nth-child(3) {
    grid-column: 1;
    grid-row: 2/4;
  }

  .content__images-wrapper img:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .content__images-wrapper img:nth-child(5) {
    grid-column: 2/-1;
    grid-row: 3;
  }

}

@media(min-width: 1024px) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
    padding-inline-start: var(--page-padding, 10px);
    padding: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content__section:nth-child(even) .content__section-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
}