/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background-image, url(../images/cover-image-dark.png));
  background-color: var(--background-color, #000028);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  font-family: var(--font-main, 'IBM Plex mono'), sans-serif;
  font-size: var(--font-size-main, 1.125rem);
}